<div class="flex row item-full centerx">
    <a href="#!/doughnut" class="tile large flex column centerxy">
                <i class="icon-load-c"></i>
                <h5 class="mar-2x">Doughnut</h5>
                <p class="pad-1x no-mar small">Displays data in a doughnut component</p>
            </a>
    <a href="#!/list" class="tile large flex column centerxy">
                <i class="icon-navicon"></i>
                <h5 class="mar-2x">List</h5>
                <p class="pad-1x no-mar small">List component provides dymanic list to display data</p>
            </a>
    <a href="#!/tree" class="tile large flex column centerxy">
                <i class="icon-crhistmas-spruce-tree"></i>
                <h5 class="mar-2x">Tree</h5>
                <p class="pad-1x no-mar small">Tree display data in dymanic tree structure</p>
            </a>
    <a href="#" class="tile large flex column centerxy disable">
                <i class="icon-ios-grid-view-outline"></i>
                <h5 class="mar-2x">Table</h5>
                <p class="pad-1x no-mar small">Coming soon..</p>
            </a>
    <a href="#" class="tile large flex column centerxy disable">
                <i class="icon-down-open-big"></i>
                <h5 class="mar-2x">Dropdown</h5>
                <p class="pad-1x no-mar small">Coming soon..</p>
            </a>
    <a href="#" class="tile large flex column centerxy disable">
                <i class="icon-ios-photos-outline"></i>
                <h5 class="mar-2x">Panel</h5>
                <p class="pad-1x no-mar small">Coming soon..</p>
            </a>
</div>