<nav class="flex item-full">
    <ul class="no-pad-mar">
        <li class="flex">
            <a href="#" class=""> Basic Example </a>
        </li>
        <li class="flex">
            <a class="selected" href="#" class=""> Basic Example </a>
        </li>
        <li class="flex">
            <a href="#" class=""> Basic Example </a>
        </li>
    </ul>
</nav>

<section class="flex item-full column">

    <div class="panel">
        <h2> Single mono color </h2>
        <div class="flex column nowrap">
            <div style="height:400px;">
                <bat-list options="listCtrl.listOptions"></bat-list>
            </div>
        </div>
    </div>

</section>