# Ignore node_modules folder
node_modules
*.-lock.json

# Ignore node_modules folder
documentation

# ignore sass cache folder
.sass-cache/

# ignore all source map
*.map

# ignore public scripts folder
public/scripts
public/css

# ignore distribution and folder
dist
build

# ignore tgz files
*.tgz