# Ignore node_modules folder
node_modules
# Ignore node_modules folder
documentation

# ignore sass cache folder
.sass-cache/

# ignore all source map
*.map

# ignore all javascript files under src folder
src/**/*.js

# ignore build folder
@batman

# ignore demo scripts folder
demo/scripts
demo/css

# ignore demo scripts folder
dist/scripts
dist/css