* {
  box-sizing: border-box; }

/* Padding Margin Border*/
.no-pad {
  padding: 0; }

.no-mar {
  margin: 0; }

.no-pad-mar, .no-mar-pad {
  padding: 0;
  margin: 0; }

.pad-1x {
  padding: 2px; }

.mar-1x {
  margin: 2px; }

.pad-mar-1x, .mar-pad-1x {
  padding: 2px;
  margin: 2px; }

.pad-2x {
  padding: 5px; }

.mar-2x {
  margin: 5px; }

.pad-mar-2x, .mar-pad-2x {
  padding: 5px;
  margin: 5px; }

.no-mar-collapse {
  border: 1px solid transparent; }

/* Borders */
.border {
  border-style: solid;
  border-width: 1px; }

.border-2x {
  border-style: solid;
  border-width: 2px; }

/* Clear Floats */
.clear::after {
  display: table;
  content: '';
  clear: both; }

/* Flex*/
.flex {
  display: flex; }

.flex.column {
  flex-direction: column;
  flex-wrap: wrap; }

.flex.row {
  flex-direction: row;
  flex-wrap: wrap; }

.flex.center {
  align-items: center; }

.flex.vcenter {
  justify-content: center;
  align-self: center; }

.flex.nowrap {
  flex-wrap: nowrap; }

.flex.container {
  align-items: stretch; }

.flex.grow > * {
  flex-grow: 1; }

.full {
  flex: 1; }

/* Visibility*/
.hide {
  display: none; }

.hide-silent {
  opacity: 0; }

.show-silent {
  opacity: 1; }

.parent {
  position: relative; }

.child {
  position: absolute; }

/* lists */
ul.empty {
  padding: 0;
  margin: 0; }

.h1 {
  font-size: 2em;
  margin: 1em 0; }

.h2 {
  font-size: 1.8em;
  margin: 0.8em 0; }

.h3 {
  font-size: 1.6em;
  margin: 0.6em 0; }

.h4 {
  font-size: 1.4em;
  margin: 0.4em 0; }

.h5 {
  font-size: 1.2em;
  margin: 0.2em 0; }

.h6 {
  font-size: 1em;
  margin: 0.2em 0; }

.p {
  margin: 0.6em 0; }

.small {
  font-size: .7em; }

/* Components */
[tip]:hover::after, [tip]:hover::before {
  opacity: 1;
  transition-delay: 1s;
  z-index: 1; }

[tip]::after, [tip]::before {
  position: relative;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.075, 0.82, 0.165, 1); }

[tip]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 100; }

[tip]::after {
  content: attr(tip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none; }

[tip-pos='left']::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translatey(-50%) rotate(-90deg); }

[tip-pos='top']::before {
  left: 50%; }

[tip-pos='bottom']::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg); }

[tip-pos='right']::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg); }

[tip-pos='left']::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%); }

[tip-pos='top']::after {
  left: 50%; }

[tip-pos='bottom']::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%); }

[tip-pos='right']::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%); }

div#global-profiler {
  position: fixed;
  height: 100vh;
  width: 30%;
  top: 0;
  right: 0;
  background: #000;
  opacity: .7; }
  div#global-profiler .content {
    overflow: auto; }
    div#global-profiler .content .log {
      color: #4CAF50; }
    div#global-profiler .content .error {
      color: #F44336; }
    div#global-profiler .content div > span:first-child {
      width: 100px;
      display: inline-block; }

.doughnut-component {
  background-color: transparent;
  display: inline-block; }
  .doughnut-component .child:first-child {
    border-radius: 100%;
    overflow: hidden;
    transition-property: transform;
    transition-timing-function: linear; }
  .doughnut-component .child {
    height: 100%;
    width: 100%; }
    .doughnut-component .child img {
      height: 100%;
      width: 100%; }
    .doughnut-component .child .head {
      align-items: center;
      justify-content: center;
      height: 100%; }
    .doughnut-component .child svg circle, .doughnut-component .child svg path {
      fill: none; }

.list {
  overflow: hidden;
  width: 100%; }
  .list .data {
    width: 100%;
    height: 100%; }
  .list .container {
    overflow-y: scroll;
    width: 100%; }
    .list .container .ghost {
      width: 100%; }
  .list ul li {
    overflow: hidden; }

.tree {
  overflow: hidden;
  width: 100%; }
  .tree .data {
    width: 100%;
    height: 100%; }
  .tree .container {
    overflow-y: scroll;
    width: 100%; }
    .tree .container .ghost {
      width: 100%; }
  .tree div.ul div.li {
    overflow: hidden; }
  .tree div[area-level="0"] {
    margin: 0; }
  .tree div[area-level="1"] {
    margin: 0;
    margin-left: 15px; }
  .tree div[area-level="2"] {
    margin: 0;
    margin-left: 30px; }
  .tree div[area-level="3"] {
    margin: 0;
    margin-left: 45px; }
  .tree .icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    display: none; }
  .tree .icon.close {
    display: initial;
    margin-top: -3px;
    border-width: 4px 0 4px 8px;
    margin-right: 4px;
    border-color: transparent transparent transparent #007bff; }
  .tree .icon.open {
    display: initial;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #007bff transparent; }

.optimal-tree {
  overflow: hidden;
  width: 100%; }
  .optimal-tree .data {
    width: 100%;
    height: 100%; }
  .optimal-tree .container {
    overflow-y: scroll;
    width: 100%; }
    .optimal-tree .container .ghost {
      width: 100%; }
  .optimal-tree ul li {
    overflow: hidden;
    align-items: center; }
    .optimal-tree ul li i {
      height: 0;
      width: 0;
      color: gray; }
    .optimal-tree ul li .icon {
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      display: none; }
    .optimal-tree ul li .icon.close {
      display: initial;
      border-width: 4px 0 4px 7px;
      margin-right: 4px;
      border-color: transparent transparent transparent gray; }
    .optimal-tree ul li .icon.open {
      display: initial;
      border-width: 0 0 8px 7px;
      margin-right: 4px;
      margin-top: -3px;
      border-color: transparent transparent gray transparent; }
    .optimal-tree ul li .icons2 {
      height: 17px;
      width: inherit;
      font-size: 16px; }
    .optimal-tree ul li span {
      padding-left: 5px; }
  .optimal-tree ul li[area-level="0"] {
    padding: 0;
    padding-left: 2px; }
  .optimal-tree ul li[area-level="1"] {
    padding: 0;
    padding-left: 17px; }
  .optimal-tree ul li[area-level="2"] {
    padding: 0;
    padding-left: 32px; }
  .optimal-tree ul li[area-level="3"] {
    padding: 0;
    padding-left: 47px; }
  .optimal-tree ul li:hover {
    background: #d2d2d2;
    cursor: pointer; }

/*# sourceMappingURL=batman.css.map */
